*{
	color: #f8f8ff;
}
body{
	background-image: url("../images/movie2.jpg");
    background-size: cover; 
    background-size: 100% 100%;
}
.header{
	padding: 20px;
	background-image: url("../images/movies.jpg");
	background-size: cover; 
    background-size: 100% 100% ;

}
.piccontainer{
	background-image: url("../images/Spiderman.jpg");
    background-size: cover; 
    
	margin-bottom: 50px;
	min-height:700px;
	max-height: auto;
}
.fmm{
	font-weight: bolder;
	color:#b22222;
}



