body{
	background-image: url("../images/background.jpg");
    background-size: cover; 
    background-size: 100% 100%;
}
.piccontainer{
	margin-top: 50px;
	height: 725px;
	background-image: url("../images/popcorn2.jpg");
    background-size: cover; 
    background-size: 100% 100%;
}
.header{
	background-color: #708090;
}
.fmm{
	font-weight: bolder;
	color:#b22222;
}



